parameters:
    level: 6
    paths:
        - controllers
        - src
        - helpers
        - tests
    excludePaths:
        - vendor/
    ignoreErrors:
        -
            identifier: missingType.iterableValue
